<div class="strib-styles ssa ssb ssc">
  <div class="container-lg int-header">
    <h1>Unless you live on a mountain, the Twin Cities probably got more snow in February than your town</h1>
    <p class="byline">By Chase Davis and C.J. Sinner • <span>Star Tribune</span></p>
    <!-- share -->
  </div>
  <div class="container-lg int-main">

    <section class="mapcontainer">
      <div id="map" class="map"></div>
      <div id="map-credit">Source: <a href="https://www.nohrsc.noaa.gov/snowfall/">National Snowfall Analysis</a> from the National Weather Service</div>
      <div id="map-legend">
        <div class="legend-header">
          <div class="header">February 2019 snowfall accumulation</div>
        </div>
        <div class="legend-row">
          <div class="bar blue"></div>
          <div class="label">Less snow than MSP</div>
        </div>

        <div class="legend-row">
          <div class="bar red"></div>
          <div class="label">More snow than MSP</div>
        </div>

        <div class="legend-footer">
          <div class="footer-left">
            <div class="label"><div class="label-detail">↕</div>Total (0 to 358 inches)</div>
          </div>
          <div class="footer-right">
            <div class="label">
              <div class="label-detail square"></div>
              No snow or no data
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="leadin">
        <p>Yes, Minnesotans, February was as bad as you thought.</p>

        <p>After an unusually slow start, winter decided make up for lost time — dumping 39 inches of snow in 28 days. It snowed more days here than it did not, surpassing a typical February by more than two feet.</p>

        <p>Essentially, the Twin Cities was transformed into a mountain town without the mountains.</p>

        <p>Seriously - our snowfall totals had more in common with Jackson, Wyo., (41 inches) than our fellow Midwesterners in Chicago (9 inches), Milwaukee (18 inches) and Detroit (5.5 inches).</p>

        <div class="area-chart">
                  <iframe title="Chart: Cumulative inches of snow at MSP in February" aria-describedby="" id="datawrapper-chart-ivCcg" src="//datawrapper.dwcdn.net/ivCcg/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important;" height="315"></iframe><script type="text/javascript">
  !(function() {
    "use strict";
    window.addEventListener("message", function(a) {
      if (void 0 !== a.data["datawrapper-height"])
        for (var t in a.data["datawrapper-height"]) {
          var e = document.getElementById("datawrapper-chart-" + t);
          e && (e.style.height = a.data["datawrapper-height"][t] + "px");
        }
    });
  })();
</script>
        </div>

        <p>Our 39 inches put us level with the summit of New Hampshire's Mt. Washington — elevation 6,288 feet — a place that proudly claims to be home to the <a href="https://www.mountwashington.org/experience-the-weather/observer-comments.aspx?id=38543">worst weather in America</a>.</p>

        <p>In fact, with the exception of Wisconsin and Michigan's Upper Peninsula, the Twin Cities suffered more snow this February than nearly everywhere outside the Mountain West, according to national snowfall estimates.</p>

        <p>This, to put it lightly, is unusual.</p>

        <p>Despite our reputation for relentless winters, the Twin Cities averages about 10 inches of snow in February — comparable to New England, the upper Midwest, and swaths of the northern plains. This year we put them all to shame.</p>

        <p>The maps below compare how our February snow compares to other regions, both this year and in a more typical year, measured as the median snow accumulation of five recent Februaries from 2014 to 2018. Red areas had at least as much snow as the Twin Cities. Blue areas had less.</p>

        <p>If misery loves company, the maps also show how lonely our February truly was.</p>
    </section>

    <section class="highlights">
      <h2>New York and New England</h2>
      <div class="image-container">
        <div class="left">
          <div class="year-label">2014-2018</div>
          <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjsn63jav5qsh1fmvuegldopo/static/-72.4288,43.7331,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
        </div>
        <div class="right">
            <div class="year-label">2019</div>
            <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjseugkrg0fvf1fqiox8ab1vk/static/-72.4288,43.7331,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
          </div>
      </div>
      <p>New England is no stranger to snowy winters. Apart from being home to several major mountain ranges, the region is often battered by ferocious nor'easters that churn up the coast and dump snow by the foot in areas like Boston and New York.</p>

      <p>A particularly merciless series of storms in 2015 dropped nearly six feet on Boston in Feburary alone, on the way to a record-setting season of 108 inches — a total the Twin Cities has never matched.</p>

      <p>To be fair, a good February in places like New York and Connecticut might see only an inch or two, and several <a href="https://en.wikipedia.org/wiki/Mid-February_2014_North_American_winter_storm">historic</a> <a href="https://en.wikipedia.org/wiki/Mid-February_2015_North_American_blizzard">storms</a> have led to some outsized totals there in recent years.</p>

      <p>But this year, Boston got 8 inches. Portland, Maine, managed nearly 11. And up north, Burlington, Vt., tallied just 16.</p>
    </section>

    <section class="highlights">
        <h2>The upper midwest: Chicago, Detroit and Milwaukee</h2>
        <div class="image-container">
          <div class="left">
            <div class="year-label">2014-2018</div>
            <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjsn63jav5qsh1fmvuegldopo/static/-84.9565,42.1879,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
          </div>
          <div class="right">
              <div class="year-label">2019</div>
              <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjseugkrg0fvf1fqiox8ab1vk/static/-84.9565,42.1879,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
            </div>
        </div>
        <p>In a normal winter, we can usually count on our compatriots in Milwaukee, Chicago and Detroit to share our pain.</p>

        <p>Their typical February looks a lot like ours, with snowfall totals around a foot, give or take, made worse at times by frigid winds ripping off the Great Lakes.</p>

        <p>This year was no different. All three cities saw snowfall in line with their historical averages — though other areas of Michigan and Wisconsin had it even worse than we did:</p>

        <p>Less than two hours to our east, Eau Claire, Wisc., <a href="https://blogs.mprnews.org/updraft/2019/02/february-siege-bitter-cold-and-record-snowfall/">topped 40 inches</a>.</p>
      </section>

      <section class="highlights">
          <h2>The North Shore</h2>
          <div class="image-container">
            <div class="left">
              <div class="year-label">2014-2018</div>
              <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjsn63jav5qsh1fmvuegldopo/static/-91.8248,47.4789,6,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
            </div>
            <div class="right">
                <div class="year-label">2019</div>
                <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjseugkrg0fvf1fqiox8ab1vk/static/-91.8248,47.4789,6,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
              </div>
          </div>
          <p>Surely the rugged North Shore must have had more snow last month than the Twin Cities, way down south.</p>

          <p>What with the storms roiling over Lake Superior, the cold and wild Boundary Waters, and and the Sawtooth Mountains, home to just about the only real elevation Minnesota has to offer.</p>

          <p>And in a normal year, that would be true. But this was not a normal year.</p>

          <p>Some areas near Duluth matched us flake-for-flake, as did some spots near Tofte and by the Canadian border. But even though much of the Arrowhead has received more snow than usual, by Twin Cities standards this year it was found wanting.</p>
      </section>

      <section class="highlights">
          <h2>The Mountain West</h2>
          <div class="image-container">
            <div class="left">
              <div class="year-label">2014-2018</div>
              <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjsn63jav5qsh1fmvuegldopo/static/-119.394,40.360,4.2,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
            </div>
            <div class="right">
                <div class="year-label">2019</div>
                <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjseugkrg0fvf1fqiox8ab1vk/static/-119.394,40.360,4.2,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
              </div>
          </div>
          <p>It could always be worse.</p>
          <p>Some areas of the Sierra Nevada mountains, in California, got socked with more than 350 inches of snow in February.</p>

          <p>That's good news for Los Angeles, which counts on snowmelt from the Sierra to supply much of its ater, but it has also shut down highways, triggered enormous avalanches, and created <a href="https://twitter.com/Sierra_at_Tahoe/status/1100138814675120133/photo/1">memeworthy snowdrifts the size of small buildings.</a></p>

          <p>Snowfall records fell all over the west this February, from Seattle to Spokane, Wash., to Missoula, Mont. Even Los Angeles <a href="https://www.usatoday.com/story/news/nation/2019/02/21/los-angeles-snow-snow-falls-hollywood-pasadena-malibu/2943525002/">got a taste</a>.</p>

          <p>But the fact remains: Unless you live on a mountain, you probably had less snow than the Twin Cities last month.</p>
      </section>

    <section class="credits">

    </section>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114906116-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114906116-1');
    </script>

  </div>
</div>
