<div class="strib-styles ssa ssb ssc">
  <div class="container-lg int-header">
    <h1>Unless you live on a mountain, you probably got less snow than the Twin Cities in February</h1>
    <p class="byline">By Chase Davis and C.J. Sinner • <span>Star Tribune</span></p>
    <!-- share -->
  </div>
  <div class="container-lg int-main">
  
      <section class="mapcontainer">
          <div id="map-container">
              <div id="map-legend">
                <div class="legend-header">
                  <div class="header">February snowfall accumulation</div>
                </div>
                <div class="legend-row">
                  <div class="bar blue"></div>
                  <div class="label">Less than MSP</div>
                </div>
      
                <div class="legend-row">
                  <div class="bar red"></div>
                  <div class="label">More than MSP</div>
                </div>
      
                <div class="legend-footer">
                  <div class="footer-left">
                    <div class="label">↕<br />Total accumulation</div>
                  </div>
                  <div class="footer-right">
                    <div class="label">
                      <div class="square"></div>
                      No snow or no data
                    </div>
                  </div>
                </div>
              </div>
          <div id="map" class="map"></div>
        </section>

    <section class="leadin">
        <p>Yes, Minnesotans, February was as bad as you thought.</p> 

        <p>After an unusually slow start, winter decided make up for lost time — dumping 37 inches of snow in 28 days and essentially transforming the Twin Cities into a mountain town without the mountains.</p>
        
        <p>Literally.</p>
        
        <p>Our snowfall totals had more in common with Jackson, Wyo., (41 inches) than our fellow Midwesterners in Chicago (9 inches), Milwaukee (18 inches) and Detroit (5.5 inches). Our 37 inches put us level with the summit of New Hampshire's Mt. Washington — elevation 6,288 feet — a place that proudly claims to be home to the worst weather in America.</p>
          
        <p>In fact, with the exception of Wisconsin and Michigan's Upper Peninsula, the Twin Cities endured more snow this February than nearly everywhere outside the Mountain West, according to national snowfall estimates.</p>

        <p>This, to put it lightly, is unusual.</p>

        <p>Despite our reputation for brutal winters, the Twin Cities averages about 10 inches of snow in February — comparable to much of New England, the upper Midwest, and swaths of the northern plains. This year we put them all to shame.</p>

        <p>The maps below show how our snowfall compares to other regions, both this year and over an average of the previous five. Red areas show spots that got at least as much snow as the Twin Cities. Blue areas got less.</p>

        <p>And if misery loves company, the maps also show how lonely our February truly was.</p>
    </section>

    <section class="highlights">
      <h2>New England</h2>
      <div class="image-container">
        <div class="left">
          <div class="year-label">2014-2018</div>
          <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjsn63jav5qsh1fmvuegldopo/static/-72.4288,43.7331,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
        </div>
        <div class="right">
            <div class="year-label">2019</div>
            <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjseugkrg0fvf1fqiox8ab1vk/static/-72.4288,43.7331,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
          </div>
      </div>
      <p>New England is no stranger to snowy winters. Apart from being home to several major mountain ranges, the region is often battered by ferocious nor'easters that churn up the coast and dump snow by the foot in areas like Boston and New York.</p>
      <p>A particularly brutal series of storms in 2015 dropped nearly six feet on Boston in Feburary alone, on the way to a record-setting season of 108 inches — a total the Twin Cities has never matched.</p>
      <p>This year, Boston got 8 inches. Portland, Maine, managed nearly 11. And up north, Burlington, Vt., tallied 16.</p>
    </section>

    <section class="highlights">
        <h2>Chicago, Detroit and Milwaukee</h2>
        <div class="image-container">
          <div class="left">
            <div class="year-label">2014-2018</div>
            <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjsn63jav5qsh1fmvuegldopo/static/-84.9565,42.1879,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
          </div>
          <div class="right">
              <div class="year-label">2019</div>
              <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjseugkrg0fvf1fqiox8ab1vk/static/-84.9565,42.1879,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
            </div>
        </div>
        <p>In most winters, we can usually count on our Midwestern compatriots in Milwaukee, Chicago and Detroit to share our pain.</p>
        <p>Each averages a similar amount of February snowfall, made worse at times by frigid winds ripping off the Great Lakes.</p>
      </section>

      <section class="highlights">
          <h2>The Front Range and northern plains</h2>
          <div class="image-container">
            <div class="left">
              <div class="year-label">2014-2018</div>
              <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjsn63jav5qsh1fmvuegldopo/static/-104.7355,40.6157,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
            </div>
            <div class="right">
                <div class="year-label">2019</div>
                <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjseugkrg0fvf1fqiox8ab1vk/static/-104.7355,40.6157,4.8,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
              </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>

      <section class="highlights">
          <h2>The Mountain West</h2>
          <div class="image-container">
            <div class="left">
              <div class="year-label">2014-2018</div>
              <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjsn63jav5qsh1fmvuegldopo/static/-119.394,40.360,4.2,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
            </div>
            <div class="right">
                <div class="year-label">2019</div>
                <img src="https://api.mapbox.com/styles/v1/cjdd3b/cjseugkrg0fvf1fqiox8ab1vk/static/-119.394,40.360,4.2,0,50/400x300@2x?access_token=pk.eyJ1IjoiY2pkZDNiIiwiYSI6ImNqZWJtZWVsYjBoYTAycm1raTltdnpvOWgifQ.aPWEg8C-5IJ0_7cXusY-1g">
              </div>
          </div>
          <p>It could be worse.</p>
          <p>Areas of the Sierra Nevada, in California, have already been socked with more than 300 inches of snow in February.</p>
          <p>That's good news for Los Angeles, which counts on snowmelt from the Sierra for its water supply, but it has also shut down highways, triggered enormous avalanches, and created <a href="https://twitter.com/Sierra_at_Tahoe/status/1100138814675120133/photo/1">memeworthy snowdrifts the size of small buildings.</a></p>
      </section>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114906116-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114906116-1');
    </script>

  </div>
</div>
